@page "/Sample/Url"
@using kopernicus_wiki.Components

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="content/folder/example-page.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Example Page";
}