@page "/Syntax/scaledversion/Corona"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/ScaledVersion/Corona.md"/>

@code {
    string pageTitle = "Corona";
}