@page "/Syntax/ScaledVersion/Corona"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/ScaledVersion/Corona.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "Corona";
}