@page "/syntax/scaledversion/corona"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/ScaledVersion/Corona.md"/>

@code {
    string pageTitle = "Corona";
}