@page "/Syntax/scaledversion/Material"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/ScaledVersion/Material.md"/>

@code {
    string pageTitle = "Material";
}