@page "/syntax/scaledversion/material"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/ScaledVersion/Material.md"/>

@code {
    string pageTitle = "Material";
}