@page "/syntax/scaledversion/ondemand"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/ScaledVersion/OnDemand.md"/>

@code {
    string pageTitle = "OnDemand";
}