@page "/Syntax/scaledversion/OnDemand"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/ScaledVersion/OnDemand.md"/>

@code {
    string pageTitle = "OnDemand";
}