@page "/Syntax/ScaledVersion"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/ScaledVersion/ScaledVersion.md"/>

@code {
    string pageTitle = "ScaledVersion";
}