@page "/syntax/scaledversion"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/ScaledVersion/ScaledVersion.md"/>

@code {
    string pageTitle = "ScaledVersion";
}