@inherits LayoutComponentBase

<body>
  <nav class="navbar-inverse" style="background-color: #222;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand site-title" style="color: #eee;" rel="author" href="/@relativeUrl">@siteTitle</a>
      </div>
      <ul class="nav navbar-nav wikinav">
        @foreach(SitePage page in navPages) {
          <li><a class="page-link" style="background-color: #222; border-color: #222; color: #eee; padding-top: 1.3em;" href="@(page.relativePageUrl)">@(page.title)</a></li>
        }
      </ul>
    </div>
  </nav>
  <main class="page-content" aria-label="Content">
    <div class="container">
      <div class="content-wrapper">
        @Body
      </div>
    </div>
  </main>

  <footer class="site-footer h-card">
    <data class="u-url" href="/@relativeUrl"></data>
  
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          
        </div>
        <div class="footer-col footer-col-2">
          <h2 class="footer-heading">@siteTitle</h2>
          <a class="u-email" href="https://github.com/Kopernicus/wiki/discussions/65">Feedback</a>
        </div>
        <div class="footer-col footer-col-3">
          <h6>Contribute on GitHub!</h6>
          <a href="https://github.com/Kopernicus/wiki">Kopernicus/wiki</a>
        </div>
        <div class="footer-col footer-col-4">
          <h6>Last Updated: May 23, 2024</h6>
        </div>
      </div>
    </div>
  </footer>
</body>

@code {
  string relativeUrl = @"";
  string siteTitle = "Kopernicus Wiki";

  record SitePage(string title, string relativePageUrl);
  List<SitePage> navPages = [
    new SitePage("ConfigNodes",   "/Prerequisites/ConfigNodes"),
    new SitePage("Body",          "/Syntax/Body"),
    new SitePage("Template",      "/Syntax/Template"),
    new SitePage("Properties",    "/Syntax/Properties"),
    new SitePage("Orbit",         "/Syntax/Orbit"),
    new SitePage("ScaledVersion", "/Syntax/ScaledVersion"),
    new SitePage("PQS",           "/Syntax/PQS"),
    new SitePage("PQSMods",       "/Syntax/PQSMods"),
    new SitePage("Rings",         "/Syntax/Rings"),
    new SitePage("Data Types",    "/Prerequisites/DataTypes")
  ];
}