@page "/syntax/atmospherefromground"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/Atmosphere/AtmosphereFromGround.md"/>

@code {
    string pageTitle = "AtmosphereFromGround";
}