@page "/Syntax/Atmosphere"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Atmosphere/Atmosphere.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Atmosphere";
}