@page "/Syntax/HazardousBody"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/HazardousBody.md" pageName=@pageTitle/>

@code {
    string pageTitle = "HazardousBody";
}