@page "/Syntax/SpaceCenter"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/SpaceCenter.md" pageName=@pageTitle/>

@code {
    string pageTitle = "SpaceCenter";
}