@page "/Syntax/Expansion/EmissiveFX"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Expansion/EmissiveFX.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Emissive FX";
}