@page "/Syntax/Expansion/EVAFootprints"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Expansion/EVAFootprints.md" pageName=@pageTitle/>

@code {
    string pageTitle = "EVA Footprints";
}