@page "/Syntax/Expansion/ProceduralGasGiants"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Expansion/ProceduralGasGiants.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Procedural Gas Giants";
}