@page "/Syntax/Expansion/ReentryEffects"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Expansion/ReentryEffects.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Reentry Effects";
}