@page "/Syntax/Expansion/VertexHeightMap16"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Expansion/VertexHeightMap16.md" pageName=@pageTitle/>

@code {
    string pageTitle = "VertexHeightMap16";
}