@page "/Syntax/Expansion/VertexHeightDeformity"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Expansion/VertexHeightDeformity.md" pageName=@pageTitle/>

@code {
    string pageTitle = "VertexHeightDeformity";
}