@page "/Syntax/Expansion/VertexColorMapEmissive"

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Expansion/VertexColorMapEmissive.md" pageName=@pageTitle/>

@code {
    string pageTitle = "VertexColorMapEmissive";
}