@page "/Syntax/Expansion/Wormholes"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Expansion/Wormholes.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Wormholes";
}