@page "/Syntax/PQSMods/LandControl/LandControl"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/LandControl/LandControl.md" pageName=@pageTitle/>

@code {
    string pageTitle = "LandControl";
}