@page "/Syntax/PQSMods/LandControl"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/LandControl/LandControl.md"/>

@code {
    string pageTitle = "LandControl";
}