@page "/Syntax/PQSMods/LandControl/ScatterMaterial"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/LandControl/ScatterMaterialType.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "ScatterMaterialType";
}