@page "/Syntax/PQSMods/LandControl/ScatterMaterial"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/LandControl/ScatterMaterialType.md"/>

@code {
    string pageTitle = "ScatterMaterialType";
}