@page "/Syntax/PQSMods/LandControl/Scatters"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/LandControl/Scatters.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "Scatters";
}