@page "/Prerequisites/ConfigNodes"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="ConfigNodes.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Config Nodes";
}