@page "/Prerequisites/DataTypes"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="DataTypes.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Data Types";
}