@page "/"

<PageTitle>Kopernicus Wiki</PageTitle>

<h1>Kopernicus Wiki</h1>

<h2>Prequisites</h2>

<ul>
    <li><a>What are ConfigNodes?</a></li>
    <li><a>A Beginner’s Guide to Kopernicus: The Basics</a></li>
    <li><a>Data Types</a></li>
</ul>

<a href="prerequisites/confignodes#subnodes">A</a>

<h2>Syntax for Celestial Bodies</h2>
