@page "/Syntax/Properties"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Properties/Properties.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Properties";
}