@page "/Syntax/properties/ScienceValues"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Properties/ScienceValues.md" pageName=@pageTitle/>

@code {
    string pageTitle = "ScienceValues";
}