@page "/syntax/properties/sciencevalues"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/Properties/ScienceValues.md"/>

@code {
    string pageTitle = "ScienceValues";
}