@page "/Guides/GettingStarted"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="twgtutorial.md" pageName=@pageTitle/>

@code {
    string pageTitle = "Getting Started";
}