<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="container">
        <div class="content-wrapper">
          {%- if page.title -%}
          <h2 class="title">
            {{ page.title }}
          </h2>
          {%- endif -%}
          {%- if page.subtitle -%}
          <span class="subtitle">
            {{ page.subtitle }}
          </span>
          {%- endif -%}
          {{ content }}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
