@page "/syntax/material/atmospherictriplanarzoomrotationtexturearray"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/Material/PQSAtmosphericTriplanarZoomRotationTextureArray.md"/>

@code {
    string pageTitle = "AtmosphericTriplanarZoomRotationTextureArray";
}