@page "/Syntax/material/AtmosphericTriplanarZoomRotation"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Material/PQSAtmosphericTriplanarZoomRotation.md"/>

@code {
    string pageTitle = "AtmosphericTriplanarZoomRotation";
    //https://discordapp.com/channels/609759014384828446/609759014384828449/678797826255487008 // fog examples in gregs server
}