@page "/Syntax/material/AtmosphericTriplanarZoomRotationTextureArray"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Material/PQSAtmosphericTriplanarZoomRotationTextureArray.md"/>

@code {
    string pageTitle = "AtmosphericTriplanarZoomRotationTextureArray";
}