@page "/Syntax/Material/AtmosphericTriplanarZoomRotationTextureArray"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/Material/PQSAtmosphericTriplanarZoomRotationTextureArray.md" pageName=@pageTitle/>

@code {
    string pageTitle = "AtmosphericTriplanarZoomRotationTextureArray";
}