@page "/Syntax/PQSMods/HeightColorMap"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/HeightColorMap.md"/>

@code {
    string pageTitle = "HeightColorMap";
}