@page "/Syntax/PQSMods/HeightColorMap2"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/HeightColorMap2.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "HeightColorMap2";
}