@page "/Syntax/PQSMods/HeightColorMap"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/HeightColorMap.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "HeightColorMap";
}