@page "/Syntax/PQSMods/HeightColorMap2"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/HeightColorMap2.md"/>

@code {
    string pageTitle = "HeightColorMap2";
}