@page "/Syntax/PQSMods/LandControlLanding"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/LandControlLanding.md"/>

@code {
    string pageTitle = "LandControlLanding";
}