@page "/Syntax/PQSMods/PQSMods"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/PQSMods.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "PQSMods";
}
