@page "/Syntax/PQSMods/VertexSimplexHeight"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/VertexSimplexHeight.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "VertexSimplexHeight";
}