@page "/Syntax/PQSMods/VertexSimplexNoiseColor"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/VertexSimplexNoiseColor.md"/>

@code {
    string pageTitle = "VertexSimplexNoiseColor";
}