@page "/Syntax/PQSMods/VertexSimplexNoiseColor"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/VertexSimplexNoiseColor.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "VertexSimplexNoiseColor";
}