@page "/Syntax/PQSMods/VertexHeightMap"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/VertexHeightMap.md"/>

@code {
    string pageTitle = "VertexHeightMap";
}