@page "/Syntax/PQSMods/VertexSimplexHeight"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/VertexSimplexHeight.md"/>

@code {
    string pageTitle = "VertexSimplexHeight";
}