@page "/Syntax/PQSMods/VertexColorMap"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/VertexColorMap.md"/>

@code {
    string pageTitle = "VertexColorMap";
}