@page "/Syntax/PQSMods/VertexColorMapBlend"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/VertexColorMapBlend.md"/>

@code {
    string pageTitle = "VertexColorMapBlend";
}