@page "/Syntax/PQSMods/VertexColorMapBlend"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/VertexColorMapBlend.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "VertexColorMapBlend";
}