@page "/Syntax/PQSMods/VertexColorMap"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/VertexColorMap.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "VertexColorMap";
}