@page "/Syntax/PQSMods/VertexHeightNoiseVertHeightCurve2"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/VertexHeightNoiseVertHeightCurve2.md"  pageName=@pageTitle/>

@code {
    string pageTitle = "VertexHeightNoiseVertHeightCurve2";
}