@page "/Syntax/PQSMods/LandControl/ModularScatter/HeatEmitter"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/LandControl/ModularScatter/HeatEmitter.md"/>

@code {
    string pageTitle = "HeatEmitter";
}