@page "/Syntax/PQSMods/LandControl/ModularScatter/HeatEmitter"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/LandControl/ModularScatter/HeatEmitter.md" pageName=@pageTitle/>

@code {
    string pageTitle = "HeatEmitter";
}