@page "/Syntax/PQSMods/LandControl/ModularScatter/LightEmitter"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/LandControl/ModularScatter/LightEmitter.md" pageName=@pageTitle/>

@code {
    string pageTitle = "LightEmitter";
}