@page "/Syntax/PQSMods/LandControl/ModularScatter/LightEmitter"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/LandControl/ModularScatter/LightEmitter.md"/>

@code {
    string pageTitle = "LightEmitter";
}