@page "/Syntax/PQSMods/LandControl/ModularScatter"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/LandControl/ModularScatter/ModularScatter.md" pageName=@pageTitle/>

@code {
    string pageTitle = "ModularScatter";
}