@page "/Syntax/PQSMods/LandControl/ModularScatter"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/LandControl/ModularScatter/ModularScatter.md"/>

@code {
    string pageTitle = "ModularScatter";
}