@page "/Syntax/PQSMods/LandControl/ModularScatter/ScatterColliders"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="syntax/PQSMods/LandControl/ModularScatter/ScatterColliders.md"/>

@code {
    string pageTitle = "ScatterColliders";
}