@page "/Syntax/PQSMods/LandControl/ModularScatter/ScatterColliders"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/LandControl/ModularScatter/ScatterColliders.md" pageName=@pageTitle/>

@code {
    string pageTitle = "ScatterColliders";
}