@page "/Syntax/PQSMods/LandControl/ModularScatter/SeaLevelScatters"

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<MarkdownPageRenderer srcFile="Syntax/PQSMods/LandControl/ModularScatter/SeaLevelScatter.md" pageName=@pageTitle/>

@code {
    string pageTitle = "SeaLevelScatters";
}